:root {
    --primary: #FF6060;
    --gray-1: #f6f6f6;
    --font-family: "Montserrat", sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: 0 2px 18px 0 rgb(0 0 0 / 22%);

    --corner-5: 5px;
    --corner-10: 10px;
    --corner-25: 25px;
}