.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 48px;
        font-weight: 500;
    }

    img {
        border-radius: var(--img-corner);
        filter: brightness(60%);

    }
}