@use './mixins' as mixin;

.cardzone {
    max-width: 1240px;
    width: 100%;
    padding: 56px 50px 0;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-radius: var(--corner-25);
    background-color: var(--gray-1);

    @include mixin.lg-lowerThan {
        width: 80%;
    }
}