@use './mixins' as mixin;

.card {
    width: 340px;
    height: 340px;
    margin-bottom: 50px;
    border-radius: var(--corner-10);

    @include mixin.lg-lowerThan {
        min-width: 340px;
        width: 40%;
    }

    @include mixin.md-lowerThan {
        margin-bottom: 130px;
        width: 100%;
    }

    @include mixin.sm-lowerThan {
        margin-bottom: 50px;
        width: 100%;
    }

    @include mixin.xs {
        min-width: 200px;
        width: 100%;
        height: 220px;
    }
}

.imageContainer {
    // overflow: hidden;

    img {
        z-index: -1;
        min-height: 340px;
        object-fit: cover;
        border-radius: var(--corner-10);
    
        @include mixin.xs {
            width: 100%;
            min-height: 255px;
            max-height: 250px;
        }
    }
}

.apartmentTitle {
    text-align: start;
    position: relative;
    width: 300px;
    left: 20px;
    bottom: 60px;
    color: white;
    h3 {
        font-size: 18px;
        font-weight: 500;
    }
}