.footer {
    display: flex;
    height: 209px;
    width: 99vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;

    h2 {
        font-weight: 500;
        font-size: 24px;
    }
}

.logoColor {
    overflow: hidden;
    margin-bottom: 10px;
}