@use './mixins' as mixin;

.header {
    margin: 40px 0 63px;
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        margin-right: 0;
        width: 250px;
        display: flex;
        justify-content: space-between;
        color: var(--primary);
        align-items: center;

        a {
            font-size: 24px;
            transition: 0.1s all ease-in-out;
            &:hover {
                text-decoration: underline;

            }
            @include mixin.md-lowerThan {
                font-size: 20px;
            }

            @include mixin.xs {
                font-size: 12px;
            }
        }

        @include mixin.xs {
            width: 140px;
        }
    }

    @include mixin.lg-lowerThan {
        width: 80%;
    }

    @include mixin.md-lowerThan {
        text-transform: uppercase;
        font-size: 12px;
    }

    @include mixin.xs {
        margin: 10px 0;
    }
}

.imgHeader {
    width: 145px;
}