@use './mixins' as mixin;

.infoBloc {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    // width: 1023px;

    &__title {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        width: 1023px;
        height: 47px;
        padding: 0 33px;
        background-color: var(--primary);
        font-weight: 500;
        font-size: 24px;
        color: white;
        border-radius: var(--corner-5);

        &:hover, &.active {
            cursor: pointer;
        }

        @include mixin.lg-lowerThan {
            width: 80%;
            font-size: 18px;
        }

        @include mixin.xs {
            height: 30px;
            font-weight: 500;
            font-size: 13px;
        }
    }

    &__icon {
        i {
            transform: rotate(180deg);
            transition: all .2s ease-in-out;
        }
    }

    &.active &__icon {
        i {
            transform: rotate(0deg);
        }
    }

    &__content {
        width: 1023px;
        height: 0;
        margin-bottom: 20px;
        text-align: start;
        
        background: #F7F7F7;
        color: var(--primary);
        font-weight: 400;
        font-size: 24px;
        border-radius: 5px;


        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        padding: 0 1rem;
        transition: all .2s ease-in;

        @include mixin.lg-lowerThan {
            width: 80%;
            font-size: 18px;
        }

        @include mixin.xs {
            font-weight: 400;
            font-size: 12px;
        }
    }

    &.active &__content {
        visibility: visible;
        height: auto;
        overflow: visible;
        padding: 1rem;
        opacity: 1;
    }


}