@use './mixins' as mixin;

.infoBloc {
    // display: flex;
    // flex-direction: column;
    // width: 1023px;

    &__title {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        width: 1023px;
        height: 47px;
        padding: 0 33px;
        margin-bottom: 31px;
        background-color: var(--primary);
        font-weight: 500;
        font-size: 24px;
        color: white;
        border-radius: var(--corner-5);

        &:hover, &.active {
            cursor: pointer;
        }
    }

    &__icon {
        i {
            transform: rotate(180deg);
            transition: all .2s ease-in-out;
        }
    }

    &.active &__icon {
        i {
            transform: rotate(90deg);
        }
    }

    &__content {
        visibility: hidden;
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 1rem;
        transition: all .2s ease-in;
    }

    &.active &__content {
        visibility: visible;
        height: auto;
        overflow: visible;
        padding: 1rem;
        opacity: 1;
    }
}