@use './mixins' as mixin;

.tag {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 10px;
    &__content{
        width: 115px;
        color: white;
        font-size: 14px;
        background-color: var(--primary);
        border-radius: var(--corner-10);
    }
}